<p
  [ngStyle]="{backgroundColor: getColor()}"
  [ngClass]="{online: serverStatus === 'online'}">
  {{ 'Server' }} with ID {{ serverId }} is {{ getServerStatus() }}
</p>
<button class="btn btn-primary" (click)="showSecret = !showSecret">Toggle Display</button>
<br>
<button class="btn btn-primary" (click)="onToggleDetails()">Toggle Display Log</button>
<p *ngIf="showSecret">Secret Password = tuna</p>
<div
  *ngFor="let logItem of log; let i = index"
  [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent'}"
  [ngClass]="{'white-text': i >= 4}">
  {{ logItem }}
</div>
